header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-color: #006d77;
  color: #edf6f9;
}

nav {
  display: flex;
  gap: 20px;
}

.link {
  color: #edf6f9;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link:hover {
  color: #83c5be;
}
